/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Arial Black", sans-serif;
    text-decoration: none;
}

header {
    background-color: #C2002F;
    position: fixed;
    height: 6em;
    width: 24em;
    top: 0;
    z-index: 10;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2em;

    position: fixed;
    top: .3em;
    left: .8em;
    z-index: 10;
}

#eerste li:nth-of-type(1) {
    font-size: 1.1em;
    color: white;
    border: .1em solid white;
    border-radius: 2em;
    padding: .1em .5em;

    position: fixed;
    top: 3em;
    left: 1.4em;
    z-index: 10;

}

#eerste a:nth-of-type(1) {
    font-size: 1.1em;
    color: white;
    border: .1em solid white;
    border-radius: 2em;
    padding: .1em .5em;

    position: fixed;
    top: 3em;
    left: 8em;
    z-index: 10;

}

#eerste img {
    margin: 0;
    position: fixed;
    right: 1em;
    width: 20%;
    top: 1.7em;
    z-index: 10;

}
/*eerste section*/
section:first-of-type {
    position: relative;
    top: 7em;
    height: 28em;
}

#augsburg {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 90%;
    width: 90%;
    z-index: 2;

}

h2 {
    color: white;
    width:6em;
    font-size: 2.5em;
    line-height: 1em;
    
    position: absolute;
    top: 1em;
    left: .7em;
    z-index: 2;

}

#daley p:nth-of-type(1){
    font-size: 1.2em;
    background-color: white;
    padding: 0 1em;
    
    position: absolute;
    z-index: 2;
    bottom: 3em;
    left: 2em;
}
/* Tweede section*/
section:nth-of-type(2) {
    position: relative;
    top: 7em;
    height: 12em;
}

#shop img{
    position: absolute;
    left: 1em;
    z-index: -1;
    width: 90%;
}

#shop h3{
    position: absolute;
    color: white;
    font-size: 1.3em;
    width: 2em;
    
    left: 2em;
    top: 1em;
}

#shop p:nth-of-type(1){
    position: absolute;
    color: white;
    font-family: sans-serif;
    
    top: 5em;
    left: 2.6em;
}

#shop p:nth-of-type(2){
    position: absolute;
    background-color: white;
    top: 9em;
    left: 2.6em;
    padding: 0 1em;
}

/*navitgatie slider*/
#navbar ul{
    position: relative;
  white-space: nowrap;
    overflow-x: scroll;
    top: 7em;
    
    
    
}

#navbar li{
    display: inline-block;
    position: relative;
    width: 7em;
    margin: 1em 0;
    
    left: 1em;

}

/*Nico section*/

section:nth-of-type(4){
    position: relative;
    left: 1em;
    top:7em;

}

#nico img{
    position: absolute;
    width: 90%;
}

#nico h2{
    position: absolute;
    top: 12.5em;
    left: 0;
    color: black;
    font-size: 1.8em;
    width: 11em;
}

#nico p:nth-of-type(1){
    position: absolute;
    font-family: sans-serif;
    width: 20em;
    top: 26em;
    font-size: 1.1em;
}

#nico p:nth-of-type(2){
    position: absolute;
    top: 67em;
    
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .5em;
    color: white;
    background-color: #413E3E;
    padding: .4em .2em ;
}

/* Fifa section*/

section:nth-of-type(5){
    position: relative;
    top:43em;
    left:1em;

}

#fifa img{
    position: absolute;
    width: 90%;
    
}

#fifa h2{
    position: absolute;
    top: 1em;
    left: .3em;
    text-transform: uppercase;
    font-size: 2.3em;

}

#fifa p:nth-of-type(1){
    position: absolute;
    top: 5em;
    left: .8em;
    color: white;
    font-family: sans-serif;
    
}

#fifa p:nth-of-type(2){
    position: absolute;
    background-color: white;
    font-size: 1.2em;
    top: 13em;
    left: 1em;
    padding: 0 1em;
    
}

#fifa p:nth-of-type(3){
    position: absolute;
    top: 45em;
    
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .5em;
    color: white;
    background-color: #413E3E;
    padding: .4em .2em ;
}
/* Content pagina*/

a{
   color: white;
}


#content section:first-of-type img:nth-of-type(1){
    position: relative;
    left: 0em;
    top: 1em;
}

#content img:nth-of-type(2){
    position: relative;
    width: 90%;
    left: 0em;
    top: 2em;
}

#content h3:nth-of-type(1){
    position: relative;
    font-size: 1.5em;
    width: 80%;
    top:1.5em;
    left:0em;
    line-height: 1em;
}

#content p:nth-of-type(1){
    position: relative;
    font-family: sans-serif;
    font-size: 1.2em;
    top: 2.5em;
    left:0em;
    width: 90%;
}

/*nico*/
#content section:nth-of-type(1){
    position: relative;
    top:6em;
    left:1em;

}

#content section:nth-of-type(2) img:nth-of-type(1){
    position: absolute;
    width: 90%;
    left: 1em;
    top: 14em;
}

#content h2{
    position: absolute;
    top: 19.5em;
    left: 1;
    color: black;
    font-size: 1.8em;
    width: 11em;
}

#content section:nth-of-type(2) p:nth-of-type(1){
    position: absolute;
    font-family: sans-serif;
    width: 20em;
    top: 37em;
    left: 1em;
    font-size: 1.1em;
}
#content section:nth-of-type(2) p:nth-of-type(2){
    position: absolute;
    top: 90em;
    left:2em;
    
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .5em;
    color: white;
    background-color: #413E3E;
    padding: .4em .2em ;
}

#content section:nth-of-type(3) h2{
    position: absolute;
    top: -2em;
    left: 0em;
}

#content section:nth-of-type(3){
    position: relative;
    top: 46em;
    left: 1em;
    background-color:#C2002F;
    height: 24em;
    width: 21em;
}

#content section:nth-of-type(3) img{
    position: absolute;
    top: 4em;
    left:3em;

    height: 60%;
}

#content section:nth-of-type(3) p:nth-of-type(1){
    position: absolute;
    top: 6.5em;
    left: .5em;
    z-index: 20;
    width: 30em;
    
    font-size: 3em;
    color:white;
    font-family: sans-serif;
}

#content section:nth-of-type(3) p:nth-of-type(2){
    position: absolute;
    top: 13em;
    left: 4em;
    z-index: 20;
    width: 30em;
    
    font-size: 1.5em;
    color:white;
    
}

#content section:nth-of-type(3) p:nth-of-type(3){
    position: absolute;
    top: 22em;
    left: 6em;
    z-index: 20;
    width: 30em;
    
    font-size: 1em;
    color:white;
    font-family: sans-serif;
}

table{
    position: relative;
    top: 48em;
    width: 90%;
    left: 1em;
}

th{
    text-align: start;
}

td{
    font-family: sans-serif;
    width: 
}

tr:nth-of-type(5){
    font-weight: bold;
}

#content section:nth-of-type(4) h2{
    position: relative;
    top: 24em;
    left: 0em;
}

#techstaf{
    position: absolute;
    left: 0em;
}

#techstaf td{
    text-align: start;
    width: 2.4em;
}

tr:nth-of-type(5){
    font-weight: 500;
}

#techstaf td:nth-of-type(1){
    font-weight: bold;
}

#content header img:nth-of-type(1) {
    margin: 0;
    position: fixed;
    left: 18.3em;
    width: 5%;
    top: 2em;
    z-index: 10;

}

#content button:nth-of-type(1){
    position: absolute;
    top: 15em;
    left: 2em;
}

#content button:nth-of-type(2){
    position: absolute;
    top: 15em;
    left: 22em;
}
/* Footer*/

footer{
    position: relative;
    background-color: white;
    top: 68em;
    
}
section:last-of-type{
    position: relative;
    left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

footer img{
    position: absolute;
    left: 1em;
}


footer li{
    font-family: sans-serif;
}

footer article:last-of-type{
    display: grid;
    grid-column: span 2;
}

#content footer{
    top: 63em;
}

